@font-face {
   font-family: Sullivan-Regular; 
   src: url('../fonts/Sullivan/Sullivan-Regular.otf');
} 
@font-face {
   font-family: Homestead-Regular; 
   src: url('../fonts/Homestead/Homestead-Regular.ttf');
} 

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-showcase p {
  font-family: 'Homestead-Regular';
}

.theme-showcase h1 {
  font-family: 'Sullivan-Regular';
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.theme-showcase #quote {
  text-align: center;
  color: blue;  
}

.theme-showcase #experience-table {
  clear: both
  padding-left: 3%;
  width: 100%;
  font-family: 'Homestead-Regular';
}

.theme-showcase #experience-table td {
  padding: 1%;
  padding-right: 5%;
}

.theme-showcase #jpl img {
  width: 110px;
}

.theme-showcase #carefusion img {
  width: 150px;
}

.theme-showcase #resume {
  padding-left: 100px;
}

.theme-showcase #resume-pic {
  width: 320px;
  height: 500px;
  float: left;
  padding-top: 0%
}

.theme-showcase #resume table{
  padding-top: 2%;
  padding-left: 200px;
  padding-bottom: 10%;
}

.theme-showcase #linkedin img {
  width: 300px;
  padding-left: 30%;
  padding-top: 30%
}

.theme-showcase #github img {
  width: 300px;
  padding-left: 30%;
}

.theme-showcase #email img {
  padding-left: 100px;
  padding-top: 10%
}

td .content {
  padding-right: 3%;
  padding-top: 0%;
}